DATABASE_URL="postgres://ae832b5b2047e3088f79bbf2c076af9885a3ec01ca7f9feacde9d0dc4f1a0cee:sk_oezHJh3kExeXm-O5QNYGB@db.prisma.io:5432/postgres?sslmode=require"

JWT_SECRET="058b24e003c3e69ec886e3fead4233db388ae91f362b9be2b8a09d007b7adde8dd59d98ce2b37d10b95f885a42a6038952dddb9afdcc3429a643f3d6ef47b5dd"
JWT_EXPIRES_IN="7d"

AI_PROVIDER="gemini"
GEMINI_API_KEY="AIzaSyBkDmbTzos2Z1ebpaDFM_1eC_WaMFzJXFU"
OPENAI_API_KEY="your-openai-api-key"
OPENROUTER_API_KEY="your-openrouter-api-key"

PORT=3000
HOST="0.0.0.0"
NODE_ENV="development"
LOG_LEVEL="info"

FRONTEND_URL="http://localhost:3001"

APP_URL="http://localhost:3000"
